
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<body>
    <div class="text-center">
        <h2>Quý khách đã đặt hàng thành công. Nhấn vào <a href="@Url.Action("Index","SanPhams")">đây</a> để tiếp tục mua sắm.</h2>
      

    </div>
</body>
</html>
